.landingPage{
    background-image:url("../images/header_p.jpg");
    background-size: cover;
    height: 600px;
}
.menu{
 background-color: black;

}
.orders{
    background-color: black;
}
.order-summary{
    background-color: black;
}
.navigation{
    
    float: inline-start;
}
li {
    display: inline;
    margin-right: 20px;
}
.navbar {
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
    font-family: cursive;
    
}